.DS_Store
.xmpi
.acn
.aux
.bbl
.bcf
.blg
.fdb_latexmk
.fls
.glo
.glsdefs
.ist
.lof
.log
.lot
.pdf
.run.xml
.synctex.gz
.toc
*.aux
*.idx
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.txt
*.log
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.lot
*.DS_Store